language: go

os:
  - linux
  - osx

go:
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - "1.10.x"
  - tip

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/860de7e374c89032863a
    on_success: change
    on_failure: always
    on_start: never

  email:
    on_success: change
    on_failure: always

script: make get-deps debug test
